<!DOCTYPE html>
<html>
<head>
<title>LEARN MALAYALAM</title>
<!--To adjust webpage to all devices -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--To connect to external CSS-->
<link rel="stylesheet" href="style.css">

</head>
<body background="bg.jpg" style="background-size: 1500px 800px;">
	{{{ body }}}
</body>

</html>