  <div class="container">
      <header>
        <h4>Introduction</h4>
      </header>
      <div class="first">
        <nav>
          <ul>
             <a href="/index"><button class="btn success">HOME</button></a>
             <a href="/about"><button class="btn success">Introduction</button></a>
             <a href="/alpha"><button class="btn success">Lesson 1</button></a>
             <a href="/signs"><button class="btn success">Lesson 2</button></a>
          </ul>
        </nav>
        <article>
          <p>Malayalam (/mæləˈjɑːləm/; മലയാളം) is a Dravidian language spoken in India, predominantly in the state of Kerala. It is one of the 22 scheduled languages of India and was designated as a Classical Language in India in 2013.
          <br>The Malayalam language has 56 letters</p>
          <p>These letters may be classified as:</p>
            <ul id="bullet">
              <li>15 vowels</li>
              <li>36 consonants</li>
              <li>other symbols</li>
            </ul>
          
  </article>
    </div>
    <div class="second">
            <a id="next" href="lesson1.html"><img src="nxt.jpeg" alt="Width" style="width:10%;height:10%"></a>
    </div>
    <footer></footer>
  </div>