<div class="container">
      <header>
        <h4>Letters</h4>
      </header>
      <div class="first">
        <nav>
          <ul>
             <li><a href="/">Home</a></li>
            <li><a href="/about">Introduction</a></li>
            <li><a href="/alpha">Letters</a></li>
            <li><a href="/signs">Sentences</a></li>
          </ul>
        </nav>
        <article>
          <center><h1>VOWELS</h1></center>
          <img src="vo.jpg" alt="vowels" style="padding:40px">
          <hr>
          <center><h1>VOWEL DIACRITICS WITH KA</h1></center>
          <img src="vd.gif" alt="vowels" style="padding:30px">
          <center><h1>CONSONANTS</h1></center>
          <img src="con.png" alt="Consonants" style="padding:40px">
          <hr>
        </article>
    </div>
    <footer></footer>
</div>s