<div class="container">
<header>
   <h1>LEARN MALAYALAM</h1>
</header>
<div class="first">
<article>
  <p style="font-size:25px;font-family: Verdana;font-style: italic; color:white;"><b>Learning Malayalam can be challenging,but definitely not bad!It can in fact be extremely fun to learn.So why wait?Let's get started and begin to learn Malayalam!</b></p>
  </article>
</div>
<div class="second">
<a href="/alpha"><button class="btn success">START NOW</button></a>
</div>
</div>
