<div class="container">
      <header>
        <h4>Consonants</h4>
      </header>
      <div class="first">
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">Introduction</a></li>
            <li><a href="/alpha">Letters</a></li>
            <li><a href="/signs">Sentences</a></li>
          </ul>
        </nav>
        <article>
          <center><h1>SENTENCES</h1></center>
          <img src="a.jpg" alt="learn1" style="padding:40px;height: 600px;width: 900px">
          <hr>
          <img src="b.jpg" alt="learn2" style="padding:30px;height: 700px;width: 900px">
          
          
          <hr>
          
        </article>
      </div>
    </div>